.container {
    background-color: black;
}




.square-content,
.circle-shape,
.d-shape,
.reverse-d-shape {
    width: 200px;
    height: 200px;
    border: solid;
    background-color: blue;
}


.square-content h2 {
    text-align: center;
    margin: 70px 5px;
}


.circle-shape {
    border-radius: 50%;
    display: flex;
    align-items: center;
    background-color: bisque;
}


.resume h2 {
    margin-left: 25px;
}


.d-shape {
    background-color: aqua;
    border-top-right-radius: 60%;
    display: flex;
    align-items: center;
}


.reverse-d-shape {
    background-color: green;
    border-bottom-left-radius: 60%;
    display: flex;
    align-items: center;
}